@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
} 

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* =============================
==========footer============= */

.footer {
  color: white;
  width:100%;
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}
/* 
.hero{
  background: url('../src/components/img/hero.jpg');
} */
/* .container .home{
  background: url('../components/img/hero.jpg');

} */

.product{
  box-shadow: 	-6px 7px 11px 0px rgba(0,0,0,0.34);
  border:	1px solid rgba(0,0,0,0.1);
  border-radius:	4px;
  
 }
 span{
   font-size: 1.4rem;
   font-weight: 400;
 }
 .product-inner-box .icons{
   position: absolute;
   top:0;
   margin-top: 1.2rem;
   right:1rem;
   display: flex;
   padding-bottom:1rem ;
   flex-direction: column;
   color:white;
   opacity: 0;
   transition: all 0.5s ease;
 
 }
 .product-inner-box .cart_btn{
   transition: 3s linear;
   margin-left: -7rem;
   
 }
 .product-inner-box:hover .cart_btn{
   opacity: 1;
   display: inline-block;
 }
 .product-inner-box:hover .icons .cart_btn{
 opacity: 1;
 }
 

 .img-fluid{
  transition: all 0.5s ease;
}
 .img-fluid:hover{
  transform: scale(1.1);

}

.deliviery_services{
  margin:3rem 0rem;
  display: flex;
  justify-content: center;

}
.slide1{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .box1{
  height:7rem;
  width:22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#DEDEDC;
  border-radius: 1rem;
  font-size:1.5rem ;
  margin-bottom: 2rem;
  margin: 1rem 1rem;
  
}
.carousel-item img{
  height:78vh;
  width:100wh;
   
}

figure {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s linear;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
    cursor: pointer;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover img {
    transform: scale(1.1);
  }
  img {
    max-width: 90%;
    margin-top: 1.5rem;
    height: 20rem;
    transition: all 0.2s linear;
  }}
